In [1]:
import pandas as pd

In [2]:
file_one="Resources/election_data.csv"

In [3]:
print(file_one)

Resources/election_data.csv

In [4]:
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")

In [11]:
file_one_df.head(15)

    Voter ID   County Candidate
0   12864552    Marsh      Khan
1   17444633    Marsh    Correy
2   19330107    Marsh      Khan
3   19865775    Queen      Khan
4   11927875    Marsh      Khan
5   19014606    Marsh        Li
6   17775191    Queen    Correy
7   14003692    Marsh      Khan
8   14255761    Marsh      Khan
9   13870173    Marsh    Correy
10  16793141    Marsh      Khan
11  10591158    Bamoo    Correy
12  12344763  Trandee      Khan
13  18611011    Marsh      Khan
14  17845903    Marsh    Correy

In [6]:
candidates=file_one_df["Candidate"].unique()
candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [8]:
votes_per=file_one_df["Candidate"].value_counts()
votes_per

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [9]:
votes=per=file_one_df.count()
votes

Voter ID     3521001
County       3521001
Candidate    3521001
dtype: int64